video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
    background-color: rgba(255, 255, 255, 0.5);
}
.container {
  display: flex;
 justify-content: center;
}
.search {
        width: 100%;
        padding: 12px 24px;
        background-color: transparent;
        font-size: 18px;
        line-height: 18px;
        color: #575756;
        background-color: transparent;
        margin-left: 0px;
        box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}
.icon {
        width: 32px;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2, ul, p {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  display: block;
  padding: .3em .3em .3em .6em;
  margin: .3em 0 .3em 2.5em;
  background: #ddd6e8;
  border-radius: 12px;
}
li:hover {
  background: #1db9b2;
}
button {
  background: #dbecc4;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
}